*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.mycss {
    color: blue;
}

.header {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: rgb(7, 104, 52);
}

a{
    text-decoration: none;
    font-weight: bolder;
    font-size: large;
    color: black;
    padding-right: 1rem;
}

.face{
    color: rgb(21, 12, 139);
    cursor: pointer;
    font-size: xx-large;
}

.git{
    color: rgb(19, 18, 18);
    cursor: pointer;
    font-size: xx-large;
    padding-left: 15px;
}

.inst{
    color: rgb(125, 21, 94);
    cursor: pointer;
    font-size: xx-large;
    padding-left: 15px;
}

.header-box-for-menu {
    display: none;
    font-size: xx-large;
}

.section-three {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(200px);
    gap: 10px;
    padding: 1rem;
}


img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

h1{
    padding-top: 30px;
}

p{
    padding-top: 30px;
}

.sec-one{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 250px;
    margin-top: 10px;
}

.sec-one{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 250px;
    margin-top: 10px;
    object-fit: cover;

}

.texts{
    padding-top: 100px;
    padding-right: 150px;
}

.fullimg{
    padding-left: 300px;
    width: 500px;
   

}

.gg{
    width: 300px;
    object-fit: cover;
    height: auto;
}
